# base
tensorflow-gpu==2.4.0 # https://www.tensorflow.org/install/source#gpu we want cuda 11.0
tensorflow==2.4.0 # https://www.tensorflow.org/install/source#gpu we want cuda 11.0

# tools
pipreqs
pip-tools
